// ****** ALL ******
* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.05em;
}

p.bigger {
    font-size: 1.1em;
    font-style: italic;
}

a {
    color:#8e4dff;
    text-decoration: none;
}


a:hover {
    opacity: 0.5;
}

table {
    padding: 5px 15px;
    width: 100%;
    border-collapse: collapse;
}

table th {
    font-size: 1.17em;
    border-bottom: solid 1.5px #838383;
    line-height: 1.5;
}

table td {
    border-bottom: solid 0.5px #838383;
    line-height: 1.5;
    vertical-align: top;
}

.content {
    position: absolute;
    text-align: justify;
    padding: 1.5em 2em 1.5em 1em;
    left: 35%;
    width: 65%;
}

.content img {
    width: 30%;
    display: inline-block;
    padding: 1px;
}

.content img.full {
    width: 85%;
    margin: 0 auto;
    display: block;
}

.content a {
    font-weight: bold;
}

iframe {
    margin: 0 auto !important;
}

// nav

a.nav.current {
    font-weight: 700;
    color: #8e4dff;
    border-bottom: 3px #8e4dff solid;
    padding: 4px;
}

a.nav {
    color: black;
    text-decoration: none;
}

a.home:hover {
    opacity: 1;
}

ul.nav {
    padding: 0;
}

ul.mobnavdown {
    padding: none;
    border: none;
}

ul.soc {
    padding: 0;
}

li.nav {
    display: inline;
    margin: 0px 5px;
    text-align: center;
    font-size: 1em;
}

li.soc {
    display: inline;
    margin: 0px 5px;
    text-align: center;
}

ul.nav li:first-child {
    margin: 0px;
    margin-right: 5px;
}

ul.nav li:last-child {
    margin: 0px;
    margin-left: 5px;
}

ul.soc li:first-child {
    margin: 0px;
    margin-right: 5px;
}

ul.soc li:last-child {
    margin: 0px;
    margin-left: 5px;
}

ul.mobnavdown li:first-child {
    margin: 0px;
    margin-right: 5px;
}

ul.mobnavdown li:last-child {
    margin: 0px;
    margin-left: 5px;
}


img.social {
    width: 25px;
}

a.social {
    text-decoration: none;
}

.mobnav {
    display: none;
}

.smobile {
    display: none;
}

li.mobli {
    display: none;
}

// non-home sidebar
.dbox {
    width: 35%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    resize: both;
    text-align: right;
    padding: 0 3em 0 0 ;
}

.dnest {
    width: 100%;
    height: auto;
}

.sdefault {
    position: absolute;
    right: 4em;
    bottom: 0;
}

a.home {
    height: 20%;
}
img.hdefault {
    height: 100%;
}

// ****** HOME ******

img.hindex {
    width: 50%;
    float: left;
}

.hbox {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    resize: both;
    align-items: center;
    display: flex;
}

.hnest {
    width: 45%;
    position: absolute;
    right: 0;
}

.hnest p {
    font-size: 1.2em;
    padding: 0 0 1.5em 0;
}

// ****** BLOG ******

ul.posts {
    list-style-type: none;
    padding: 5px 0;
}

a.bloglink {
    color: black;
    background-color: #ffffb3;
    padding: 8px;
    border: #ffdf80 solid 3px;
    margin-left: -8px;
}

// ****** SMALL SCREEN ******

@media only screen and (max-width: 1219px) {
    body {
        font-size: 0.9em;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.2em;
    }
}

// ****** TABLET ******

@media screen and (max-width: 1165px) {
    li.nav {
        font-size:0.9em;
    }
}

@media only screen and (max-width: 1116px) {
    a.home {
        height: 18%;
    }

    .mobnav {
        display: block;
        cursor: pointer;
        padding: 4px;
        width: 8em;
        border: 1px #838383 solid;
    }

    .dbox nav {
        width: 8em;
    }

    .mobnav img {
        height: 1.2em;
        display: inline-block;
    }

    ul.mobnavdown {
        text-align: right;
        display: none;
        border: 1px #cccccc solid;
    }

    ul.mobnavdown li.nav {
        display: block;
        text-align: right;
        margin: 5px;
    }

    a.nav.current {
        border-bottom: none;
        border-right: 3px #8e4dff solid;
        padding: 0 4px;
    }

    ul.mobnavdown li:first-child {
        margin: 5px;
    }
    
    ul.mobnavdown li:last-child {
        margin: 5px;
    }

    .content {
        padding: 1.5em 2em 1.5em 1em;
    }

    img.social {
        width: 20px;
    }

}


@media only screen and (max-width: 864px) {
    h1 {
        font-size: 1.5em;
    }

    .hbox {
        width: 70%;
    }

    a.home {
        height: 15%;
    }

    .content {
        padding: 1.5em 3em 1.5em 0em;
    }
}

// ****** MOBILE ******

@media screen and (max-width: 750px) {
    h1 {
        font-size: 2em;
    }

    .hbox {
        flex-direction: column;
        align-items: center;
    }

    a.home {
        text-align: center;
    }

    li.mobli {
        display: inline-block;
    }

    img.hindex {
        float: none;
        display: inline-block;
        width: 75%;
    }

    .hnest {
        position: static;
        text-align: center;
        width: 100%;
    }

    .content {
        position: static;
        width: 100%;
        padding: 1.5em;
        margin-top: 10%;
    }

    .content img {
        width: 48%;
    }

    .sdefault {
        display: none;
    }

    .smobile {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    img.social {
        width: 20px;
    }

    img.hdefault {
        display: none;
    }

    .dbox {
        width: 100%;
        height: auto;
        position: fixed;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        top: 0;
        left: 0;
        padding: 1em 1.5em;
        background-color: #ffffb3;
        border-bottom: 3px #ffdf80 solid;
    }

    .dbox nav {
        width: 100%;
    }

    .mobnav {
        text-align: right;
        margin-left: auto;
        border: none;
    }

    ul.mobnavdown {
        text-align: left;
        padding-inline-start: 0;
        background-color: white;
    }

    ul.mobnavdown li.nav {
        text-align: left;
    }

    a.nav.current {
        border-bottom: none;
        border-right: none;
        border-left: 3px #8e4dff solid;
        padding: 0 4px;
    }

    .dnest {
        width: auto;
        padding: 0;
        text-align: left;
    }

    .dnest h1 {
        font-size: 1.5em;
        margin: 0;
    }
}
