// ****** ALL ******
* {
    box-sizing: border-box;
}

body {
    font-family: 'Blinker', sans-serif;
}

//h1,h2,h3,h4,h5,h6,p {
//    margin: 10px;
//}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

table {
    padding: 5px 15px;
    width: 100%;
    border-collapse: collapse;
}

table th {
    font-size: 1.17em;
    border-bottom: solid 1.5px #838383;
    line-height: 1.5;
}

table td {
    border-bottom: solid 0.5px #838383;
    line-height: 1.5;
    vertical-align: top;
}

// nav

a.nav.current {
    border-bottom: solid 3px #ffd154;
}

a.home:hover {
    opacity: 1;
}

ul.nav {
    padding: 0;
}

li.nav {
    display: inline;
    margin: 0px 10px;
    text-align: center;
}

ul.nav li:first-child {
    margin: 0px;
    margin-right: 10px;
}

ul.nav li:last-child {
    margin: 0px;
    margin-left: 10px;
}

.content {
    position: absolute;
    padding: 1.5em;
    left: 35%;
    width: 65%;
}

.content a {
    font-weight: bold;
}

img.social {
    width: 20px;
}

// non-home sidebar
.dbox {
    width: 35%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    resize: both;
    text-align: right;
    padding: 0 1.5em;
    border-right: solid 1.5px #838383;
}

.dnest {
    width: 100%;
    height: 80%;
}

.sdefault {
    position: absolute;
    right: 1.5em;
    bottom: 0;
}

a.home {
    height: 20%;
}
img.hdefault {
    height: 100%;
}

// ****** HOME ******

img.hindex {
    width: 50%;
    float: left;
}

.hbox {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    resize: both;
    align-items: center;
    display: flex;
}

.hnest {
    width: 45%;
    position: absolute;
    right: 0;
}

.hnest p {
    font-size: 1.2em;
    padding: 0 0 1.5em 0;
}

// ****** BLOG ******

ul.posts {
    list-style-type: none;
    padding: 0;
}