<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel='stylesheet' href='/assets/css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/images/favicon.png">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/mobnav.js"></script>
    {% if page.url == '/' %}<script src="/assets/js/homepage.js"></script>{% endif %}

  </head>
  <body>
    
    <div class='dbox'>

      {% include homebutton.html %}

      <div class='dnest'>

        {% if page.url == '/' %}
          <div id='homeid'>
            <h1><img class='hfav' src='/assets/images/favicon.png'>ing-Sum Law</h1>
            <p>PhD Student, Dancer, Aspiring Digital Illustrator</p>
          </div>
        {% endif %}

        {% include navigation.html %}
        
        {% if page.url == '/' %}
          <div id='homesoc'>
            {% include social.html %}
          </div>
        {% endif %} 

      </div> 
      
      {% include mnavigation.html %}

    </div>

    {% if page.url == '/' %}
      <div id='filler'></div>
      <div id='bottomgrad'></div>
    {% endif %}

    <div class='content'>
      {{ content }}
      {% if page.url != '/' %}
        {% include social.html %}
      {% endif %}
    </div>

  </body>
</html>