<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel='stylesheet' href='/assets/css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/images/favicon.png">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function(){
        $(".mobnav").click(function(){
        $("ul.mobnavdown").slideToggle("slow");
        });
        });
    </script>

  </head>
  <body>

    <div {% if page.url == '/' %}class='hbox'{% else %}class='dbox'{% endif %}>
      {% include homebutton.html %}

      <div {% if page.url == '/' %}class='hnest'{% else %}class='dnest'{% endif %}>
        {% if page.url == '/' %}
        <h1><img class='hfav' src='/assets/images/favicon.png'>ing-Sum Law</h1>
          <p>PhD Student, Dancer, Aspiring Home Chef</p>
        {% endif %}

        {% include navigation.html %}

        {% if page.url == '/' %}
          {% include social.html %}
        {% endif %}

      </div>

      {% include mnavigation.html %}

    </div>

    <div class='content'>
      {{ content }}
      {% if page.url != '/' %}
        {% include social.html %}
      {% endif %}
    </div>

  </body>
</html>